<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<!--  Add a bean element with ID as "note" for Note model with scope prototype-->
	
	<!--  Add a bean element with ID as "noteRepository" for NoteRepository model -->

</beans>